@model List<BODEGA_SOLORZANO.Models.BoSolor.entProveedorProducto>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <h1>Lista de Proveedores de Productos</h1>
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <a asp-action="Guardar" asp-controller="ProveedorProducto" class="btn btn-success"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
                <hr />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Proveedor</th>
                            <th>Producto</th>
                            <th>Precio Compra</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Proveedor.RazonSocial</td>
                                <td>@item.Producto.Nombre</td>
                                <td>@item.PrecioCompra</td>
                                <td>
                                    <a asp-action="Editar" asp-controller="ProveedorProducto" class="btn btn-primary btn-sm" asp-route-IdProveedorProducto="@item.IdProveedorProducto">Editar</a>
                                    <a asp-action="Eliminar" asp-controller="ProveedorProducto" class="btn btn-danger btn-sm" asp-route-IdProveedorProducto="@item.IdProveedorProducto">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
