@model IEnumerable<BODEGA_SOLORZANO.Models.BoSolor.entCarrito>

@{
    ViewData["Title"] = "CarritoCompra";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<h1>Carrito de Compra</h1>

<p>
    <a asp-action="ProductosCompra">Agregar más productos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCarrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProveedor)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                    @Html.ActionLink("Eliminar", "EliminarProductoCompra", new { idCarrito=item.IdCarrito })
            </td>
        </tr>
}
    </tbody>
</table>

<a href="@Url.Action("GuardarTransaccion", "Compra")">Confirmar compra</a>