@model IEnumerable<BODEGA_SOLORZANO.Models.BoSolor.entCliente>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<div class="container">
    <h1>Lista de Clientes</h1>
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <a asp-action="Guardar" asp-controller="Cliente" class="btn btn-success"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
            <hr />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Número de Documento</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.idCliente</td>
                            <td>@item.nombres</td>
                            <td>@item.apellidos</td>
                            <td>@item.numDocumento</td>
                            <td>
                                <a asp-action="Editar" asp-controller="Cliente" class="btn btn-primary btn-sm" asp-route-IdCliente="@item.idCliente">Editar</a>
                                <a asp-action="Eliminar" asp-controller="Cliente" class="btn btn-danger btn-sm" asp-route-IdCliente="@item.idCliente">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>