@model List<BODEGA_SOLORZANO.Models.BoSolor.entMetodoPago>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<div class="container">
    <h1>Lista de Métodos de Pago</h1>
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <a asp-action="Guardar" asp-controller="MetodoPago" class="btn btn-success"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
            <hr />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Activo</th>
                        <th>Fecha de Creación</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdMetodo</td>
                            <td>@item.Nombre</td>
                            <td>@item.Descripcion</td>
                            <td>@item.Activo</td>
                            <td>@item.FechaCreacion</td>
                            <td>
                                <a asp-action="Editar" asp-controller="MetodoPago" class="btn btn-primary btn-sm" asp-route-IdMetodo="@item.IdMetodo">Editar</a>
                                <a asp-action="Desactivar" asp-controller="MetodoPago" class="btn btn-danger btn-sm" asp-route-IdMetodo="@item.IdMetodo">Desactivar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
